.plane{
  margin: 50px;
}

.seatinggrid{
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  background-color: white;
  width: 90px;
}

.seat{
  width: 90px;
  height: 90px;
  background-color: green;
}

.noseimg{
  width: 200px;
}

.tailimg{
  width: 350px;
}
