.plane{
  z-index: -2;
  position: relative;
  margin: 0 auto;
  width: 50vw;
  /* background-color: white; */
}

/* .cabin{
  width: 200px;
  background-color: white;
  margin: 0 auto;
} */

.seatinggrid{
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  background-color: white;
  width: 30%;
  margin: 0 auto;
  align-items: stretch;
  filter: drop-shadow(5px 5px 5px);
}

.seat{
  display: flex;
  align-items:center;
  width: 100%;
  height: 5vw;;
  background-color: green;
}

.noseimg{
  width: 40%;
}

.tailimg{
  width: 100%;
}

.wingsimg{
  position: absolute;
  display: flex;
  width: 100%;
  z-index: -1;
  top: 40vw;
}

.wingsimg{
  filter: drop-shadow(10px 10px 10px);
}

.tailimg{
  filter: drop-shadow(10px 10px 10px);
}

.noseimg{
  filter: drop-shadow(10px 10px 10px);
}
