body{
  background-color: #fc9749;
  text-align: center;
}
.banner{
  height: 20vw;
  width: 100vw;
}

nav{
  overflow: hidden;
  padding-bottom: 20px;
  text-align: center;
  margin-top: 0;
  font-size: 2vw;
  color: black;
}
a {
  color: black;
}
a:hover {
  color: red;
}

.navlinks{
  padding: 10px;
}

.navlink{
  display: inline;
  padding: 1vw;
  margin-top: 10vw;
}

.plane{
  padding: 20px;
}
